<li>
    <p>Burger Name: {{burger_name}}</p>
    <p>Burger Id: {{id}}</p>
        {{#if devoured}}<p>Burger devoured!</p>{{/if}}
        {{#unless devoured}}<button>Devour burger?</button>{{/unless}}
</li>